<footer>
  <div class="footer">
    <div class="text-footer-container">
      <svg class="logo" width="194px" height="18px">
        <use href="../img/sprite.svg#icon-logo"></use>
      </svg>
      <p class="text-footer">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>
    <div class="menu_contact">
      <ul class="ul-menu">
        <li class="menu-footer"><a href="">how it works</a></li>
        <li class="menu-footer"><a href="">vegetables</a></li>
        <li class="menu-footer last"><a href="">reviews</a></li>
      </ul>

      <address>
        <ul class="ul-list-address">
          <li class="li-list-address tel">
            <a href="tel:+380 (68) 443-94-26" class="address-contact"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="li-list-address">
            <a href="" class="address-contact"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
  <div class="access">
    <div class="policy_cookie">
      <a href="" class="privacy-policy"> Privacy Policy</a> /
      <a href="" class="cookie">Cookie settings</a>
    </div>
    <a href="" class="green-footer"> &copy; Green Harvest</a>
  </div>
</footer>
