<header class="page-header">
  <div class="container header-container">
    <div class="header-nav-logo">
      <a class="page-logo" href="#home">
        <svg class="" width="168" height="16">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item menu-how">
          <a class="header-nav-link" href="#how-it-works">How It Works</a>
        </li>
        <li class="header-nav-item menu-vegetable">
          <a class="header-nav-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="header-nav-item menu-contacts">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>

    <button class="header-btn" type="button">
      <svg class="header-btn-icon" width="32" height="32">
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg>
      <span class="header-btn-text">Shop now</span>
    </button>
  </div>
</header>
