<section class="how-section" id="how-it-works">
  <div class="how-section-div">
    <div class="how-picture">
      <picture>
        <source
          srcset="/img/how/desktop-how.webp 1x, /img/how/desktop-how@2x.webp 2x"
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="/img/how/desktop-how.png 1x, /img/how/desktop-how@2x.png 2x"
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset="/img/how/tablet-how.webp 1x, /img/how/tablet-how@2x.webp 2x"
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="/img/how/tablet-how.png 1x, /img/how/tablet-how@2x.png 2x"
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="/img/how/mobile-how.webp 1x, /img/how/mobile-how@2x.webp 2x"
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="/img/how/mobile-how.png 1x, /img/how/mobile-how@2x.png 2x"
          media="(max-width: 767px)"
          type="image/png"
        />
        <img
          class="how-img"
          src="/img/how/desktop-how.webp"
          alt="woman cooks"
        />
      </picture>
    </div>
    <div class="background">
      <div class="div-how container">
        <div class="div-how-title">
          <h2 class="visually-hidden">How it works</h2>
          <p class="how-title">
            To order your <span class="span-title-how">vegetable</span> basket,
            simply follow these <span class="span-title-how">easy steps</span>
          </p>
          <p class="how-text">
            Our baskets are assembled with care and delivered straight to your
            doorstep, so you can enjoy the taste of fresh fruit without ever
            leaving your home.
          </p>
        </div>
        <ol class="list-how">
          <li class="item-how">
            <p class="list-text-how">
              Just choose <span class="span-item-how">the vegetable</span> you
              want to order by clicking on the checkboxes
              <span class="span-item-how">next to it</span>.
            </p>
          </li>
          <li class="item-how">
            <p class="list-text-how">
              Click on <span class="span-item-how">the basket</span> and fill
              out the form.
            </p>
          </li>
          <li class="item-how">
            <p class="list-text-how">
              Sit back and relax! Your
              <span class="span-item-how">fresh vegetables</span> basket will be
              delivered.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
