<section class="section-paddings how-section">
  <div class="how-section-div container">
    <h2 class="visually-hidden">how it made</h2>
    <picture class="how-picture">
      <source
        srcset="./img/how/desktop-how.webp 1x, ./img/how/desktop-how@2x.webp 2x"
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
        srcset="./img/how/desktop-how.png 1x, ./img/how/desktop-how@2x.png 2x"
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="./img/how/tablet-how.webp 1x, ./img/how/tablet-how@2x.webp 2x"
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="./img/how/tablet-how.png 1x, ./img/how/tablet-how@2x.png 2x"
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="./img/how/mobile-how.webp 1x, ./img/how/mobile-how@2x.webp 2x"
        media="(max-width: 767px)"
        type="image/webp"
      />
      <source
        srcset="./img/how/mobile-how.png 1x, ./img/how/mobile-how@2x.png 2x"
        media="(max-width: 767px)"
        type="image/png"
      />
      <img class="how-img" src="./img/how/desktop-how.webp" alt="woman cooks" />
    </picture>
    <div class="div-how">
      <p class="how-title section-title">
        To order your <span class="how-accent">vegetable</span> basket, simply
        follow these <span class="how-accent">easy steps</span>
      </p>
      <p class="how-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="how-list">
        <li class="how-item">
          <p class="how-list-text">
            <span>
              Just choose <span class="how-accent-text">the vegetable</span> you
              want to order by clicking on the checkboxes
              <span class="how-accent-text">next to it.</span></span
            >
          </p>
        </li>
        <li class="how-item">
          <p class="how-list-text">
            <span>
              Click on <span class="how-accent-text">the basket</span> and fill
              out the form.</span
            >
          </p>
        </li>
        <li class="how-item">
          <p class="how-list-text">
            <span>
              Sit back and relax! Your
              <span class="how-accent-text">fresh vegetables</span> basket will
              be delivered.</span
            >
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
