<div class="backdrop">
  <div class="mobile-menu-container">
    <div class="wrapper">
      <button class="btn-close">
        <svg class="icon-menu" width="32" height="32">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="menu-nav">
        <ul class="list-mbl-menu">
          <li class="li-mbl">How It Works</li>
          <li class="li-mbl">Vegetables</li>
          <li class="li-mbl last">Reviews</li>
        </ul>
      </nav>
      <button type="button" class="btn-mobile">SHOP NOW</button>
    </div>
  </div>
</div>
