<div class="backdrop js-menu-container" id="mobile-menu">
  <div class="mobile-menu-container">
    <div class="menu-wrapper">
      <button class="btn-close js-close-menu">
        <svg class="icon-menu" width="32" height="32">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="menu-nav">
        <ul class="list-mbl-menu">
          <li class="li-mbl">
            <a class="menu-link" href="#how-it-work">How It Works</a>
          </li>
          <li class="li-mbl">
            <a class="menu-link" href="#vegetables">Vegetables</a>
          </li>
          <li class="li-mbl">
            <a class="menu-link" href="#section-reviews">Reviews</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="btn-mobile">SHOP NOW</button>
    </div>
  </div>
</div>
