<section class="section-paddings">
  <div class="container">
    <h2 class="section-title order-section-title">
      fresh <span class="order-title-accent">harvest</span> box has got you
      covered
    </h2>
    <p class="order-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>

    <div class="order-form-and-social-media-wrapper">
      <form class="order-modal-form">
        <p class="order-form-text">
          Ordering <span class="order-form-accent-red">from us</span> is quick
          and easy! Fill out
          <span class="order-form-accent-green">the form</span> below and we
          will contact you !
        </p>
        <div class="order-input-wrapper">
          <input
            class="order-form-input"
            type="text"
            name="full-name"
            placeholder="Full Name"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
            autofocus
          />
        </div>
        <div class="order-input-wrapper">
          <input
            class="order-form-input"
            type="email"
            name="user-email"
            placeholder="Email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
        </div>
        <div class="order-textarea-wrapper">
          <textarea
            class="order-form-textarea"
            name="user-comment"
            placeholder="Comment"
          ></textarea>
        </div>
        <button class="order-form-btn" type="submit">Send</button>
      </form>
      <div class="order-social-media-wrapper">
        <picture>
          <source
            media="(min-width: 1280px)"
            type="image/webp"
            srcset="
              ./img/order/desktop-order.webp    1x,
              ./img/order/desktop-order@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            type="image/png"
            srcset="
              ./img/order/desktop-order.png    1x,
              ./img/order/desktop-order@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./img/order/tablet-order.webp    1x,
              ./img/order/tablet-order@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/png"
            srcset="
              ./img/order/tablet-order.png    1x,
              ./img/order/tablet-order@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              ./img/order/mobile-order.webp 1x,
              ./img/order/mobile-order.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/png"
            srcset="
              ./img/order/mobile-order.png 1x,
              ./img/order/mobile-order.png 2x
            "
          />
          <img
            class="order-img"
            src="./img/order/desktop-order.png"
            alt="A woman makes a smoothie and squeezes lemon into a glass bottle"
          />
        </picture>
        <div class="order-social-text-wrapper">
          <p class="order-social-text">Follow us on our social networks:</p>
          <ul class="order-social-list">
            <li class="order-social-item">
              <a
                href="https://www.instagram.com/goitclub/"
                class="order-social-link"
                target="_blank"
                >instagram</a
              >
            </li>
            <li class="order-social-item">
              <a
                href="https://www.facebook.com/goITclub/"
                class="order-social-link"
                target="_blank"
                >facebook</a
              >
            </li>
            <li class="order-social-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="order-social-link"
                target="_blank"
                >youtube</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
