<section class="vegetables-section section-paddings">
  <div class="vegetables-wrapper container">
    <h2 class="vegetables-title section-title">
      organic <span class="vegetables-title-span">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">eggplant</h3>
        <p class="vegetables-item-text">60 USD / kg</p>
        <picture>
          <source
            srcset="
              /img/vegetables/eggplant.webp    1x,
              /img/vegetables/eggplant@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              /img/vegetables/eggplant.png    1x,
              /img/vegetables/eggplant@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="vegetables-img"
            src="/img/vegetables/eggplant.png"
            alt="eggplant"
            width="282"
            height="243"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">leek</h3>
        <p class="vegetables-item-text">50 USD / kg</p>
        <picture>
          <source
            srcset="
              /img/vegetables/leek.webp    1x,
              /img/vegetables/leek@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="/img/vegetables/leek.png 1x, /img/vegetables/leek@2x.png 2x"
            type="image/png"
          />
          <img
            class="vegetables-img"
            src="/img/vegetables/leek.png"
            alt="leek"
            width="282"
            height="243"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">mushrooms</h3>
        <p class="vegetables-item-text">40 USD / kg</p>
        <picture>
          <source
            srcset="
              /img/vegetables/mushrooms.webp    1x,
              /img/vegetables/mushrooms@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              /img/vegetables/mushrooms.png    1x,
              /img/vegetables/mushrooms@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="vegetables-img"
            src="/img/vegetables/mushrooms.png"
            alt="mushrooms"
            width="282"
            height="243"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">corn</h3>
        <p class="vegetables-item-text">60 USD / kg</p>
        <picture>
          <source
            srcset="
              /img/vegetables/corn.webp    1x,
              /img/vegetables/corn@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="/img/vegetables/corn.png 1x, /img/vegetables/corn@2x.png 2x"
            type="image/png"
          />
          <img
            class="vegetables-img"
            src="/img/vegetables/corn.png"
            alt="corn"
            width="282"
            height="243"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">sweet potatoes</h3>
        <p class="vegetables-item-text">50 USD / kg</p>
        <picture>
          <source
            srcset="
              /img/vegetables/sweet-potatoes.webp    1x,
              /img/vegetables/sweet-potatoes@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              /img/vegetables/sweet-potatoes.png    1x,
              /img/vegetables/sweet-potatoes@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="vegetables-img"
            src="/img/vegetables/sweet-potatoes.png"
            alt="sweet-potatoes"
            width="282"
            height="243"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">carrot</h3>
        <p class="vegetables-item-text">40 USD / kg</p>
        <picture>
          <source
            srcset="
              /img/vegetables/carrot.webp    1x,
              /img/vegetables/carrot@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              /img/vegetables/carrot.png    1x,
              /img/vegetables/carrot@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="vegetables-img"
            src="/img/vegetables/carrot.png"
            alt="carrot"
            width="282"
            height="243"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
