/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v18-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v18-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: 'Inter', sans-serif;
  color: #fbfbfb;
  background-color: #7a3145;
}

/*===== MOBILE CONTAINER =====*/
.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/*===== TABLET CONTAINER =====*/
.container {
  width: 768px;
  padding-left: 32px;
  padding-right: 32px;
}

/*===== DESKTOP CONTAINER =====*/
.container {
  width: 1280px;
  padding-left: 100px;
  padding-right: 100px;
}

/*===== MOBILE SECTIONS PADDINGS =====*/
.section-paddings {
  padding-top: 80px;
  padding-bottom: 80px;
}

/*===== TABLET/DESKTOP SECTIONS PADDINGS =====*/
@media screen and (min-width: 768px) {
  .section-paddings {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/*===== MOBILE SECTIONS TITLE =====*/
.section-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

/*===== TABLET/DESKTOP SECTIONS TITLE =====*/
@media screen and (min-width: 768px) {
  .section-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
