/* основные */

.blocks {
  display: flex;
  flex-wrap: wrap;
}

.footer-section .footer-top {
  margin: 0;
}

.footer-section .container {
  padding-top: 40px;
  padding-right: 59px;
  padding-left: 20px;
  padding-bottom: 80px;
}

.footer-section .footer-middle .nav-ul {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.footer-section .footer-middle .nav-a {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.42px;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section .address-ul {
  margin-top: 40px;
  display: flex;
  width: 215px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.footer-middle {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 0;
}

.logo-mobile {
  width: 168px;
  height: 16px;
  margin-top: -4px;
}

.footer-top-p {
  margin-top: 14px;
  font-size: 14px;
  line-height: 1.3;
  max-width: 296px;
}

.nav-ul,
.address-ul {
  list-style: none;
  padding: 0;
}

.nav-a,
.address-a {
  color: #fbfbfb;
  text-decoration: none;
}

.nav-a:hover,
.address-a:hover {
  text-decoration: underline;
}

.footer-section .footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.footer-bottom {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

.footer-section .privacy {
  display: flex;
  gap: 8px;
}

.privacy {
  padding-right: 49px;
}

.footer-section .privacy-a,
.footer-section .privacy-text {
  color: #fbfbfb80;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.18px;
}

.footer-section .footer-bottom-p {
  color: #fbfbfb80;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.18px;
}

/* Для мобилы */

@media (max-width: 768px) {
  .address-a {
    font-size: 14px;
  }
}

/* Планшет */

@media only screen and (min-width: 768px) {
  .footer-section .container {
    padding-bottom: 24px;
  }
  .blocks {
    flex-wrap: nowrap;
  }

  .footer-section .footer-top {
    margin-right: 183px;
  }
  .footer-section .footer-top-p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    width: 265px;
    margin-top: 25px;
  }

  .logo-mobile {
    width: 194px;
    height: 18px;
  }

  .footer-section .footer-middle {
    gap: 64px;
    margin: 0;
  }

  .footer-section .footer-middle .nav-ul {
    gap: 25px;
  }

  .footer-section .footer-middle .nav-a {
    color: #fbfbfb;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.48px;
  }
  .footer-middle .nav-a {
    font-size: 28px;
  }

  .footer-section .address-ul {
    margin: 0;
    width: 215px;
    gap: 25px;
  }

  .footer-section .address-a {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.27px;
    width: 215px;
  }

  .footer-bottom {
    justify-content: unset;
    box-sizing: content-box;
  }

  .footer-section .footer-bottom {
    margin-top: 100px;
  }

  .footer-section .privacy-a,
  .footer-section .privacy-text {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.27px;
  }

  .footer-section .footer-bottom-p {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.27px;
    margin-left: 183px;
  }
}

/* Десктоп */
@media (min-width: 1280px) {
  .footer-section .container {
    padding-bottom: 25px;
  }

  .footer-section .footer-top {
    margin-right: 0;
  }
  .footer-section .footer-top-p {
    line-height: 20px;
    font-size: 16px;
  }
  .footer-section .footer-middle {
    gap: 121px;
    margin-left: auto;
    margin-right: 0;
  }
  .footer-section .footer-middle .nav-ul {
    gap: 25px;
  }
  .footer-section .address-ul {
    width: 215px;
    gap: 25px;
  }

  .footer-section .privacy {
    margin-right: 599px;
  }
  .footer-section .privacy-a,
  .footer-section .privacy-text {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.27px;
  }

  .footer-section .footer-bottom {
    margin-top: 125px;
  }
  .footer-section .footer-bottom-p {
    margin-left: 0;
  }
}
