.footer-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-logo-nav-wrap {
  margin-bottom: 80px;
}

.footer-logo-text-wrap {
  margin-bottom: 40px;
}

.footer-logo-link {
  display: block;
  margin-bottom: 14px;
}

.footer-slogan {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  max-width: 296px;
}

.footer-nav {
  margin-bottom: 40px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-nav-link {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  transition: color 250ms linear;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #576f35;
}

.footer-contacts-item:nth-of-type(1) {
  margin-bottom: 14px;
}

.footer-contacts-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  display: block;
  max-width: 179px;
  transition: color 250ms linear;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: #576f35;
}

.footer-privacy-wrap {
  display: flex;
  align-items: center;
}

.footer-privacy-cookie-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  transition: color 250ms linear;
}

.footer-privacy-hover:hover,
.footer-privacy-hover:focus {
  color: #576f35;
}

.footer-slash {
  margin-left: 8px;
  margin-right: 8px;
}

.copy {
  line-height: 1.17;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .footer-section {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer-logo-nav-wrap {
    display: flex;
    margin-bottom: 100px;
  }

  .footer-logo-text-wrap {
    margin-bottom: 0;
  }

  .footer-logo-link {
    margin-bottom: 25px;
  }

  .footer-logo-icon {
    width: 194px;
    height: 18px;
  }

  .footer-slogan {
    font-size: 16px;
    line-height: 1.25;
    max-width: 265px;
  }

  .footer-nav-contacts-wrap {
    margin-left: auto;
    margin-bottom: 0;
  }

  .footer-nav-list {
    gap: 25px;
  }

  .footer-nav-link {
    font-size: 32px;
  }

  .footer-contacts-item:nth-of-type(1) {
    margin-bottom: 25px;
  }

  .footer-contacts-link {
    font-size: 18px;
    line-height: 1.11;
    max-width: 215px;
  }

  .footer-privacy-cookie-link {
    font-size: 18px;
    line-height: 1.11;
  }
}

@media screen and (min-width: 1280px) {
  .footer-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-logo-nav-wrap {
    margin-bottom: 125px;
  }

  .footer-nav-contacts-wrap {
    display: flex;
  }

  .footer-nav {
    margin-right: 121px;
    margin-bottom: 0;
  }
}
