.how-section {
  background: linear-gradient(
    to bottom,
    #7a3145 0%,
    #7a3145 45%,
    #576f35 45%,
    #576f35 100%
  );
  padding-top: 40px;
}

.how-picture {
  display: flex;
  margin-bottom: 120px;
}

.how-title {
  font-size: 28px;
  line-height: 1;
  margin-bottom: 20px;
}

.how-accent {
  color: rgba(251, 251, 251, 0.3);
}

.how-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 40px;
}

.how-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.how-item {
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 12px 27px 12px 29px;
  background-color: #fbfbfb;
  counter-increment: item;
  min-height: 76px;
}

.how-list-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
  display: flex;
  align-items: center;
  column-gap: 29px;
}

.how-list-text::before {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  content: counter(item);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #7a3145;
  outline: 5px solid rgba(122, 49, 69, 0.3);
  flex-shrink: 0;
}

.how-accent-text {
  font-weight: 700;
  color: #141414;
}

@media screen and (min-width: 768px) {
  .how-section {
    background: linear-gradient(
      to bottom,
      #7a3145 0%,
      #7a3145 55%,
      #576f35 46%,
      #576f35 100%
    );
    padding-top: 100px;
  }

  .how-picture {
    justify-content: center;
    margin-bottom: 200px;
  }

  .div-how {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
  }

  .how-title {
    margin-bottom: 25px;
    font-size: 32px;
  }

  .how-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
  }

  .how-list-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .how-section {
    background: linear-gradient(
      to right,
      #7a3145 0%,
      #7a3145 49.8%,
      #576f35 49.8%,
      #576f35 100%
    );
  }

  .how-section-div {
    display: flex;
    column-gap: 200px;
    min-width: 1280px;
  }

  .div-how {
    margin: 0;
  }

  .how-picture {
    margin-bottom: 0;
  }
}
