.order-section-title {
  margin-bottom: 29px;
  max-width: 335px;
}
.order-title-accent {
  color: rgba(251, 251, 251, 0.3);
}
.order-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;

  margin-bottom: 40px;
}

.order-form-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;

  margin-bottom: 40px;
}
.order-form-accent-red {
  color: #7a3145;
}
.order-form-accent-green {
  color: #576f35;
}

.order-modal-form {
  padding: 40px 20px;
  width: 335px;
  min-height: 533px;
  border-radius: 30px;

  margin-bottom: 20px;

  background-color: #fbfbfb;
}
.order-input-wrapper {
  margin-bottom: 15px;
}

.order-form-input {
  width: 100%;
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  height: 46px;

  background-color: transparent;

  padding-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #141414;
  letter-spacing: -0.02em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form-input::placeholder {
  font-size: 14px;
  line-height: 1.29;
  color: #141414;
}

.order-form-input:focus {
  border-color: #7a3145;
}
.order-form-input:not(:placeholder-shown):invalid {
  border-color: #e74a3b;
}
.order-form-input:not(:placeholder-shown):valid {
  border-color: #3cbc81;
}
.order-textarea-wrapper {
  margin-bottom: 15px;
}
.order-form-textarea {
  width: 100%;
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 15px;
  height: 91px;
  resize: none;

  background-color: transparent;

  padding: 14px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #141414;
  letter-spacing: -0.02em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form-textarea::placeholder {
  font-size: 14px;
  line-height: 1.29;
  color: #141414;
}
.order-form-textarea:focus {
  border-color: #7a3145;
}

.order-form-btn {
  border-radius: 30px;
  padding: 16px 129px;
  width: 100%;
  height: 50px;
  background-color: #576f35;
  border: none;

  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form-btn:hover,
.order-form-btn:focus {
  background-color: #3c511e;
}

.order-social-media-wrapper {
  border-radius: 30px;
  padding: 40px 20px;
  max-width: 335px;

  background-color: #576f35;
}
.order-img {
  width: 100%;
}

.order-social-text-wrapper {
  margin-top: 20px;
}
.order-social-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 14px;
}
.order-social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.order-social-item:not(:last-child):after {
  content: '/';
  font-weight: 600;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -0.01em;
  color: #fbfbfb;

  margin-left: 8px;
}
.order-social-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .order-section-title {
    margin-bottom: 25px;
    max-width: 640px;
  }
  .order-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 640px;

    margin-bottom: 50px;
  }

  .order-modal-form {
    padding: 50px 100px;
    width: 628px;
    min-height: 534px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
  .order-form-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
  .order-form-textarea::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
  .order-social-media-wrapper {
    border-radius: 30px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 628px;
  }

  .order-social-text-wrapper {
    margin-top: 50px;
  }
  .order-social-text {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;

    margin-bottom: 15px;
  }
  .order-social-list {
    flex-wrap: nowrap;
    gap: 12px;
  }
  .order-social-item:not(:last-child):after {
    font-size: 32px;
    line-height: 1;

    margin-left: 12px;
  }
  .order-social-link {
    font-size: 32px;
    line-height: 1;
  }
}

@media screen and (min-width: 1280px) {
  .order-section-title {
    max-width: 751px;
  }
  .order-text {
    max-width: 751px;
  }
  .order-form-and-social-media-wrapper {
    display: flex;
    align-items: center;

    gap: 24px;
  }
  .order-modal-form {
    padding: 50px;
    width: 529px;
    margin-bottom: 0;
  }
  .order-social-media-wrapper {
    max-width: 527px;
  }
  .order-social-list {
    flex-wrap: wrap;
  }
}
